<ul class="navbar-nav documentation-nav-items">
  <li>
    <a class="nav-item nav-link <%= doc_page? ? 'active' : '' %>" href="/2.1/docs/trailblazer.html">
      <i class="fas fa-arrow-right"></i>
      DOCS
    </a>
  </li>

  <li>
    <a class="nav-item nav-link <%= blog_page? ? 'active' : '' %>" href="https://dev.to/trailblazer">BLOG</a>
  </li>

  <li class="<%= doc_page? ? "d-none d-md-block" : "" %>">
    <a class="nav-item nav-link <%= about_us_page? ? 'active' : '' %>" href="/2.1/about_us.html">ABOUT US</a>
  </li>

  <li>
    <a class="nav-item nav-link <%= learn_page? ? 'active' : '' %>" href="/2.1/learn.html">LEARN</a>
  </li>

  <li class="<%= doc_page? ? "d-none d-md-block" : "" %>">
    <a class="nav-item nav-link" href="/2.0/index.html">
      <i class="fas fa-arrow-right"></i>
      2.0
    </a>
  </li>

  <li>
    <a class="nav-item nav-link" href="https://trailblazer.zulipchat.com" target="_blank">
      <i class="fas fa-comments"></i>
      CHAT
    </a>
  </li>

  <li>
    <div id="docsearch"></div> <!-- https://docsearch.algolia.com/docs/DocSearch-v3 -->
  </li>
</ul>
