<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Trailblazer</title>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'home' %>

    <link rel="icon" type="image/png" sizes="32x32" href="<%= vite_asset_path('images/favicon.ico') %>">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'GA_MEASUREMENT_ID');
    </script>

    <%= cell(
      Application::Cell::PreviewMeta,
      title: "Trailblazer is a business logic framework. In introduces new abstractions such as forms, service objects (operation), flow control, error handling and state machines.",
      image: vite_asset_path('images/Twitter-Facebook-preview-card-image-jungle.png'),
      twitter_image: vite_asset_path('images/Twitter-preview-card-image-jungle.png')
    ) %>
  </head>

  <body>
    <div class="dk-bg">
      <header id="header" class="homepage-header pt-0">
        <div class="alert alert-primary rounded-0 text-center" role="alert">
          <span class="alert-text text-center">
            <!--               The new TRB 2.1 book series has begun - 82 pages are <a class="alert-link" href="https://leanpub.com/buildalib">waiting for you</a>!
            -->
            Dear Russian friends, please watch President Zelenskyy's <a href="https://twitter.com/PMoelleken/status/1496941845812760577">speech addressed to you</a>. 🇺🇦 Help our brave mates in Ukraine <a href="https://actions.sumofus.org/a/give-to-ukrainians-who-need-an-urgent-lifeline"> with a donation</a>.
          </span>
        </div>
        <div class="container">
          <nav class="row static navbar navbar-expand-lg justify-content-between">
            <div class="col-lg-3">
              <h1>
                <a href="/2.1/index.html">Trailblazer</a>
              </h1>

              <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navBarTrailBlazer" aria-controls="navBarTrailBlazer" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fal fa-bars"></i>
                <i class="fal fa-times"></i>
              </button>
            </div>
            <div class="static col-lg-9">
              <div class="collapse navbar-collapse" id="navBarTrailBlazer">
                <div class="container justify-content-center justify-content-md-end">
                  <%= cell(Application::Cell::Navbar, layout: "home") %>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <main>
        <!-- Homepage Hero -->
        <section class="hero homepage d-flex align-items-center" id="hero">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-lg-7">
                <h2>The advanced business logic framework</h2>
                <div class="overlay overlay-purple">
                  <p>
                  Trailblazer is an architectural style that provides a modern approach to implementing business logic.
                  </p>

                  <p>
                  It makes complex application workflows simple, reliable and self-documenting.
                  </p>
                </div>
                <a href="/2.1/learn.html" class="btn btn-main btn-primary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"> How to Start? </a>
                <a href="#code" class="btn btn-main btn-primary mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"> Give me Code! </a>
              </div>
            </div>
          </div>
          <div class="parallax">
            <div class="parallax-part front" data-parallax='{"y" : -600}'></div>
            <div class="parallax-part middle" data-parallax='{"y" : -300}'></div>
            <div class="parallax-part back" data-parallax='{"y" : -150}'></div>
          </div>
        </section>

        <div class="container">

          <!-- VIDEO: Operation basics -->
          <section class="row main-section pattern" id="pattern-a">
            <div class="col-md-6 d-none d-md-block">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/9elpobV4HSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 text-block">
              <h2 class="title-line red wow fadeIn"> Video </h2>
              <!-- <h3 class="wow fadeIn">Finally know where to put your code</h3> -->
              <p class="wow fadeIn">
              Jump right into our screencast series TRAILBLAZER TALES to learn how we refactor a messy Rails controller action to a Trailblazer operation.
              </p>
              <p class="wow fadeIn">
              We're adding new episodes every other week <a href="https://www.youtube.com/channel/UCi2P0tFMtjMUsWLYAD1Ezsw">on our channel</a>! Feel free to <a href="https://trailblazer.zulipchat.com/">ping us</a> if you want to explore specific topics.
              </p>
            </div>
          </section>

          <!-- Structure -->
          <section class="row justify-content-md-between main-section about" id="structure">
            <div class="col-md-5 text-block">
              <h2 class="title-line red wow fadeIn"> Structure </h2>
              <h3 class="wow fadeIn">Finally know where to put your code</h3>
              <p class="wow fadeIn">
              Trailblazer extends the basic MVC pattern of Rails with new abstractions. We call that a high-level architecture. Rock-solid conventions that go far beyond database table naming or route paths let you focus on your application code, minimize bugs and improve the maintainability across large teams.
              </p>
            </div>
            <div class="col-md-5 text-block d-none d-flex align-items-center small-white-block p-2 shadow rounded">
              <div class="p-2">
                <%= vite_image_tag('images/directory-structure.png', alt: "Directory Structure", class: "w-100 img-fluid wow fadeIn") %>
              </div>
              <div class="p-2">
                <%= vite_image_tag('images/dp.png', alt: "Directory Structure", class: "w-100 img-fluid wow fadeIn") %>
              </div>
            </div>
          </section>

          <!-- Concept -->
          <!--  <section class="row justify-content-md-between main-section about" id="concept">
            <div class="col-md-12 text-block right">
            <h2 class="title-line red wow fadeIn right"> Concept </h2>
            </div>
            <div class="col-md-5 text-block small-white-block p-4">
            <div class="line-text-decoration">
            <div class="text-center wow fadeIn">
            <i class="rombo-pink-md wow fadeIn"></i>
            <h3 class="wow fadeIn">Concept</h3>
            <p class="wow fadeIn">
            Trailblazer’s file structure organizes by <span class="bold pink">CONCEPT</span>, and then by technology.
            </p>
            <ul class="bullet-list text-left wow fadeIn">
            <li><span><b>THOUSANDS</b> of users find this more intuitive and easier to navigate.</span></li>
            <li><span>It embraces the <b>COMPONENT STRUCTURE</b> of your code.</span></li>
            <li><span>Huge teams working on complex projects have it easier not to get into each others’ way.</span></li>
            <li><span>Once a concept’s <b>CODE IS TESTED</b> it won’t break anywhere else.</span></li>
            <li><span>The modular structure <b>SIMPLIFIES REFACTORING</b> in hundreds of legacy production apps.</span></li>
            </ul>
            </div>
            </div>
            </div>
            <div class="col-md-5 text-block p-4">
            <div class="line-text-decoration">
            <div class="text-center wow fadeIn">
            <i class="circle-pink-md wow fadeIn"></i>
            <h3 class="wow fadeIn">Abstractions</h3>
            <p class="wow fadeIn">
            The new abstractions in Trailblazer are optional. Only use what you need.
            </p>
            <ul class="bullet-list text-left wow fadeIn">
            <li><span><b>CONTRACT</b> Form objects to validate incoming data.</span></li>
            <li><span><b>POLICY</b> to authorize code execution per user.</span></li>
            <li><span><b>OPERATION</b> A service object implementation with functional flow control.</span></li>
            <li><span><b>VIEW MODEL</b> Components for your view code.</span></li>
            <li><span><b>REPRESENTER</b> for serializing and parsing API documents.</span></li>
            <li><span><b>DESERIALIZER</b> Transformers to parse incoming data into structures you can work with.</span></li>
            </ul>
            </div>
            </div>
            </div>
            </section> -->



            <!-- ILLUSTRATION : new module October 2019 -->
            <section class="row main-section pattern" id="pattern-a">
              <div class="col-md-6 d-none d-md-block">
                <%= vite_image_tag('images/illus-lp.png', alt: "Trailblazer", class: "img-fluid wow fadeIn") %>
              </div>
              <div class="col-md-6 text-block right">
                <h2 class="title-line red wow fadeIn"> The pattern </h2>
                <h3 class="wow fadeIn">Let Us Take Care of the Flow Control!</h3>


                <p class="wow fadeIn">
                Each function of your application is encapsulated into an <em>activity</em>.
                This activity structures and orchestrates the necessary steps using a modern workflow approach.
                Depending on the complexity of your function, a step can range from an ad-hoc Ruby method to another nested activity entirely.
                </p>
                <p>
                Lifecycles and long-running processes can be implemented by chaining activities in workflows.
                </p>
              </div>
            </section>

            <!-- FEATURES -->
            <section class="text-block main-section" id="features">
              <h2 class="title-line red"> Features </h2>
              <div class="row line-text-decoration">
                <div class="col-md-4 text-center">
                  <i class="purple wow fadeIn">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--lucide" width="55" height="55" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 11h4M8 9v4m7-1h.01M18 10h.01m-.69-5H6.68a4 4 0 0 0-3.978 3.59c-.006.052-.01.101-.017.152C2.604 9.416 2 14.456 2 16a3 3 0 0 0 3 3c1 0 1.5-.5 2-1l1.414-1.414A2 2 0 0 1 9.828 16h4.344a2 2 0 0 1 1.414.586L17 18c.5.5 1 1 2 1a3 3 0 0 0 3-3c0-1.545-.604-6.584-.685-7.258c-.007-.05-.011-.1-.017-.151A4 4 0 0 0 17.32 5z"></path>
                    </svg>
                  </i>
                  <h4 class="wow fadeIn">Framework agnostic</h4>
                  <p class="wow fadeIn">
                  The Trailblazer gems work with any Ruby framework. We provide glue code for Rails and Hanami, but there are TRB-powered apps in Roda, Grape, Sinatra and many more out there.
                  </p>
                </div>
                <div class="col-md-4 text-center wow fadeIn">
                  <i class="orange wow fadeIn">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--uil" width="55" height="55" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M21 10a1 1 0 0 0 1-1V6a.999.999 0 0 0-.684-.948l-9-3a1.002 1.002 0 0 0-.632 0l-9 3A.999.999 0 0 0 2 6v3a1 1 0 0 0 1 1h1v7.184A2.995 2.995 0 0 0 2 20v2a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1v-2a2.995 2.995 0 0 0-2-2.816V10Zm-1 11H4v-1a1.001 1.001 0 0 1 1-1h14a1.001 1.001 0 0 1 1 1ZM6 17v-7h2v7Zm4 0v-7h4v7Zm6 0v-7h2v7ZM4 8V6.72l8-2.666l8 2.667V8Z"></path>
                    </svg>
                  </i>
                  <h4 class="wow fadeIn">Legacy ready</h4>
                  <p class="wow fadeIn">
                  You can start using Trailblazer in existing, massive applications today. Refactorings can be applied step-wise, legacy code can be minimized as you go. Remember: Rome wasn’t build in one day, either.
                  </p>
                </div>
                <div class="col-md-4 text-center wow fadeIn">
                  <i class="fal fa-vial pink wow fadeIn"></i>
                  <h4 class="wow fadeIn">LTS: LONG-TERM-SUPPORT</h4>
                  <p class="wow fadeIn">
                  Trailblazer is in use in thousands of production applications. That’s why we promise: Trailblazer 2.1 is long-term supported. Easy upgrades and stable internal APIs allow us to innovate and keep you stable.
                  </p>
                </div>
                <div class="col-md-4 text-center wow fadeIn">
                  <i class="fal fa-recycle green wow fadeIn"></i>
                  <h4 class="wow fadeIn">Build to Refactor</h4>
                  <p class="wow fadeIn">
                  Our patterns are developed to be used in highly complex, existing, messy legacy applications. Trailblazer is designed to refactor old code - you do not have to rewrite the entire system to get a better architecture.
                  </p>
                </div>
                <div class="col-md-4 text-center wow fadeIn">
                  <i class="fal fa-tachometer-alt blue wow fadeIn"></i>
                  <h4 class="wow fadeIn">Test first</h4>
                  <p class="wow fadeIn">
                  By restructuring business code, application behavior can be tested more efficiently with more unit and less integration tests. Trailblazer engineers do enjoy the simplicity of testing and the speedup of the test suites.
                  </p>
                </div>
                <div class="col-md-4 text-center wow fadeIn">
                  <i class="fal fa-ship brown wow fadeIn"></i>
                  <h4 class="wow fadeIn">It’s real!</h4>
                  <p class="wow fadeIn">
                  Trailblazer is in use in thousands of production applications. Our patterns have evolved over a decade of engineering, our gems are mature and battle-tested. And: we will never stop innovating.
                  </p>
                </div>
              </div>
            </section>

            <!-- Onboarding -->
            <!--    <section class="text-block main-section about" id="onboarding">
              <h2 class="title-line red"> Onboarding </h2>
              <div class="row justify-content-md-between">
              <div class="col-md-5 text-block">
              <h4 class="text-uppercase text-center wow fadeIn">We walk the walk.</h4>
              <img src="/2.1/distimages/sticker2017.png" alt="Directory Structure" class="img-fluid p-2 wow fadeIn float-left">
              <p class="wow fadeIn">
              Trailblazer defines patterns for a better architecture, and gives you implementations to use those patterns in your applications. Your software will be better structured, more consistent and with stronger, faster, and way simpler tests.
              </p>
              <p class="wow fadeIn">
              Our high-level architecture and enterprise-ready™ gems will prevent you from reinventing the wheel again and again - you and your team are free to think about the next awesome feature.
              </p>
              </div>
              <div class="col-md-5 text-block">
              <h4 class="text-uppercase text-center wow fadeIn">We love legacy apps.</h4>
              <img src="/2.1/dist/images/consulting.png" alt="Directory Structure" class="img-fluid p-2 wow fadeIn float-left">
              <p class="wow fadeIn">
              By standardizing the business logic, new developers can be onboarded faster with help of our free documentation. Trailblazer’s patterns cover 75% of daily business code’s structure - you will feel the power of strong conventions within the first hours.
              </p>
              <p class="wow fadeIn">
              If that’s not enough, we provide on-site training, premium support and consulting. Dozens of companies worldwide trust us already.
              </p>
              </div>
              </div>
              </section> -->

              <!-- EDITOR : new module October 2019 -->
              <section class="white-block text-block center main-section tools row padding-small w-images cross-orange-lg" id="tools">
                <div class="col-md-7">
                  <div class="images">
                    <%= vite_image_tag('images/code.png', alt: "Trailblazer", class: "img-fluid wow fadeIn back-img d-none d-md-block", "data-toggle": "modal", "data-target": "#front-img", style: "visibility: visible; animation-name: fadeIn;") %>
                    <%= vite_image_tag('images/flow.png', alt: "Trailblazer", class: "img-fluid wow fadeIn front-img", "data-toggle": "modal", "data-target": "#back-img", style: "visibility: visible; animation-name: fadeIn;") %>
                  </div>
                </div>
                <div class="col-md-5 text-block right">
                  <h2 class="title-line red wow fadeIn"> Our tools </h2>
                  <h3 class="wow fadeIn">A new developer experience</h3>
                  <p class="wow fadeIn">
                  Newly added developer tools like tracing or step-debugging improve your team’s developer experience. Our new tools reduce frustration to a minimum and will blow your mind - in a good way.
                  </p>

                  <p class="wow fadeIn">
                  Our new visual editor allows modelling complex long-running processes or visualizes existing activities.
                  </p>

                </div>
              </section>

              <div aria-hidden="true" aria-labelledby="back-img" class="modal fade" id="back-img" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <button class="close-modal" data-dismiss="modal" type="button"><i class="fas fa-times"></i></button>
                    <div class="modal-body mb-0">
                      <%= vite_image_tag('images/flow.png', alt: "Trailblazer", class: "img-fluid") %>
                    </div>
                    <div class="modal-footer">
                      <p>
                      Our editor is still in development. However, it already allows to model, manage and export complex workflows for your applications. We’re using a subset of BPMN for the visuals.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div aria-hidden="true" aria-labelledby="front-img" class="modal fade" id="front-img" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <button class="close-modal" data-dismiss="modal" type="button"><i class="fas fa-times"></i></button>
                    <div class="modal-body mb-0">
                      <%= vite_image_tag('images/code.png', alt: "Trailblazer", class: "img-fluid") %>
                    </div>
                    <div class="modal-footer">
                      <p>
                      Tracing is one of the killer features in Trailblazer 2.1. Instead of having to manually look through code and control flow, it shows you what path the execution took, and allows focusing on particular variables.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- CODE -->
              <section class="text-block left main-section code" id="code">
                <h2 class="title-line red wow fadeIn"> Code </h2>
                <h3 class="wow fadeIn"> Want some code? </h3>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <p class="mt-0 wow fadeIn">
                    <span class="bold pink">CONTROLLER</span> They end up as lean HTTP endpoints. No business logic is to be found in the controller, they instantly delegate to their respective operation.
                    </p>
                    <p class="wow fadeIn">
                    Oh, and did we say there won’t be controller tests anymore? That’s right. Only unit and integration tests.
                    </p>
                  </div>
                  <div class="col-md-6">
                    <pre><code class="ruby dark code-snippet wow fadeIn d-block">
class SongsController < ApplicationController
  def create
    run Song::Create do |ctx|
      redirect_to songs_path(ctx[:model])
    end
  end
end
                    </code></pre>
                  </div>
                </div>

                <div class="row mb-5">
                  <div class="col-md-6">
                    <p class="mt-0 wow fadeIn">
                    <span class="bold pink">MODEL</span> Models contain associations, scopes and finders. Only persistence logic, no callbacks, no validations, no business logic here.
                    </p>
                    <p class="mt-0 wow fadeIn">
                    Instead, business code and callbacks are moved to operations.
                    </p>
                  </div>
                  <div class="col-md-6">
                    <pre><code class="ruby dark code-snippet wow fadeIn d-block">
class Song < ActiveRecord::Base
  has_many :albums
  belongs_to :composer
end
                    </code></pre>
                  </div>
                </div>

                <div class="row mb-5">
                  <div class="col-md-6">
                    <p class="mt-0 wow fadeIn">
                    The <span class="bold pink">OPERATION</span> is the heart of the Trailblazer architecture. It orchestrates validations, policies, models, callback and business logic by leveraging a functional pipeline with built-in error handling.
                    </p>

                    <p class="mt-0 wow fadeIn">
                    Designed to be a stateless object, the operation passes around one mutable options hash and makes heavy use of Ruby keyword arguments - if you want it.
                    </p>
                  </div>
                  <div class="col-md-6">
                    <pre><code class="ruby dark code-snippet wow fadeIn d-block">
class Song::Create < Trailblazer::Operation
  step Model( Song, :new )
  step Policy::Pundit( Application::Policy, :create? )
  step Contract::Build( constant: Song::Contract::Create )
  step Contract::Validate()
  step Contract::Persist()
  fail Notifier::DBError
  pass :update_song_count!

  def update_song_count!(ctx, current_user:, **)
    current_user.increment_song_counter
  end
end
                    </code></pre>
                  </div>
                </div>

                <div class="row mb-5">
                  <div class="col-md-6">
                    <p class="mt-0 wow fadeIn">
                    Any number of <span class="bold pink">POLICYs</span> can be used in an operation to grant or deny access to functionality.
                    </p>
                    <p class="mt-0 wow fadeIn">
                    Also, use your choice of authorization framework.
                    </p>
                  </div>
                  <div class="col-md-6">
                    <pre><code class="ruby dark code-snippet wow fadeIn d-block">
class Application::Policy < Pundit::Policy
  def create?
    user.can_create?(model)
  end
end
                    </code></pre>
                  </div>
                </div>

                <div class="row mb-5">
                  <div class="col-md-6">
                    <p class="mt-0 wow fadeIn">
                    Validations are implemented with <span class="bold pink">CONTRACT</span>.
                    </p>
                    <p class="mt-0 wow fadeIn">
                    Trailblazer supports Reform and <code>Dry::Schema</code> validations in any number.
                    </p>
                  </div>
                  <div class="col-md-6">
                    <pre><code class="ruby dark code-snippet wow fadeIn d-block">
class Song::Contract::Create < Reform::Form
  property :title
  property :length

  validates :title, presence: true
end
                    </code></pre>
                  </div>
                </div>

                <div class="row mb-5">
                  <div class="col-md-6">
                    <p class="mt-0 wow fadeIn">
                    <span class="bold pink">And the best</span> there’s only one way to run an operation.
                    Any dependency, such as the <code>current_user</code>, must be injected from the outside.
                    </p>
                    <p class="mt-0 wow fadeIn">
                    The concept of global state does not exist in Trailblazer, which leads to simplified, mock-free testability and concurrent-ready code.
                    </p>
                  </div>
                  <div class="col-md-6">
                    <pre><code class="ruby dark code-snippet wow fadeIn d-block">
Song::Create.(
  { title: "Roxanne", length: 300 }, # params
  current_user: current_user         # dependencies
)
                    </code></pre>
                  </div>
                </div>

                <div class="row mb-5">
                  <div class="col-md-6">
                    <p class="mt-0 wow fadeIn">
                    Clumsy, slow controller tests are history. Now that all your business logic is controlled by the operation, <span class="bold pink">SIMPLE UNIT TESTS</span> can test any edge-case scenario or avoid regressions.
                    </p>
                    <p class="mt-0 wow fadeIn">
                    Trailblazer’s encapsulation makes a programmer’s life better.
                    </p>
                  </div>
                  <div class="col-md-6">
                    <pre><code class="ruby dark code-snippet wow fadeIn d-block">
describe Song::Create do
  it "prohibits empty params" do
    result = Song::Create.({})

    expect(result).to be_failure
    expect(result[:model]).to be_new
  end
end
                    </code></pre>
                  </div>
                </div>
              </section>

              <!-- BOOKS -->
              <section class="text-block main-section tools row padding-small w-images" id="books">
                <div class="col-md-5 d-none d-flex">
                  <a href="https://leanpub.com/buildalib" target="_blank" class="align-items-center p-2 shadow-lg rounded">
                    <%= vite_image_tag('images/buildalib-cover.png', alt: "BUILDALIB book", class: "img-fluid wow fadeIn back-img d-none d-md-block", style: "visibility: visible; animation-name: fadeIn;") %>
                  </a>
                </div>
                <div class="col-md-7 text-block right">
                  <h2 class="title-line red wow fadeIn"> new book </h2>
                  <h3 class="wow fadeIn">A BEGINNER'S GUIDE!</h3>
                  <p class="wow fadeIn">
                  We heard your cries and finally launched a <a href="https://leanpub.com/buildalib">new tutorial ebook</a> series. Part 1, a beginner's guide to Trailblazer, is published!
                  </p>
                  <p class="wow fadeIn">
                  Building an authentication library similar to Devise we discuss everything from software design basics to tools and library functions of Trailblazer 2.1. Debugging, testing, and, refactoring comes included for free!
                  </p>
                </div>
              </section>


              <!-- TESTIMONIALS: WHITE -->
              <section class="dark-block text-block left two-columns quotes" id="premium">
                <h2 class="title-line red wow fadeIn"> HAPPY PEOPLE WHO USE TRAILBLAZER </h2>

                <div class="row">
                  <div class="col-md-5 col-lg-4">
                    <div class="rombo-img wow fadeIn">
                      <%= vite_image_tag('images/hec.jpg') %>
                    </div>
                  </div>
                  <div class="col-md-7 col-lg-8">
                    <h3 class="wow fadeIn">BRYAN "HEC" HEENAN</h3>
                    <span class="post-title wow fadeIn">FOUNDER/DIRECTOR at BRANDSCOPE, INC.</span>
                    <p class="wow fadeIn">
                    Trailblazer saved our butt! As is typical of a fast growing startup, the demand for quick turnaround of additional features had lead to our code-base becoming unstructured and buggy. Implementing new features was becoming both difficult and dangerous, and performance was starting to suffer. While investigating ways to refactor/rewrite I chanced across Nick and Trailblazer. After extensive research and comparison, we decided to adopt Trailblazer. What a fantastic decision this was.
                    </p>
                  </div>
                </div>
              </section>
              <!-- TESTIMONIALS: BLACK -->
              <!--
                <section class="dark-block text-block left two-columns quotes" id="premium">
                <h2 class="title-line red wow fadeIn"> HAPPY PEOPLE WHO USE TRAILBLAZER </h2>

                <div class="row">
                <div class="col-md-5 col-lg-4">
                <div class="rombo-img wow fadeIn">
                <img src="https://vignette.wikia.nocookie.net/jurassicpark/images/6/6a/Life_finds_a_way.PNG/revision/latest?cb=20180717112040" alt="">
                </div>
                </div>
                <div class="col-md-7 col-lg-8">
                <h3 class="wow fadeIn">DR. IAN MALCOM</h3>
                <span class="post-title wow fadeIn">MATHEMATICIAN SPECIALIZED IN “CHAOS THEORY”</span>
                <p class="wow fadeIn">
                I’ll tell you the problem with the scientific power that you’re using here: it didn’t require any discipline to attain it. You read what others had done and you took the next step. You didn’t earn the knowledge for yourselves, so you don’t take any responsibility for it. You stood on the shoulders of geniuses to accomplish something as fast as you could and before you even knew what you had you patented it and packaged it and slapped it on a plastic lunchbox, and now you’re selling it.
                </p>
                </div>
                </div>
                </section> -->

                <%= cell(Application::Cell::NewsLetter) %>
        </div>
      </main>
      <aside>
        <span class="deco-purple-cross wow fadeIn"></span>
      </aside>

      <%= cell(Application::Cell::Footer, layout: "home", page: "home") %>
    </div>
  </body>
</html>
